// Place all the styles related to the search controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.to{
  display: inline-block;
  width: 10px;
  margin-left: 90px;
}
.search_box{
  margin-bottom: 40px;
}
.main_btn{
  padding: 8px;
  font-size: 17px;
}